version: "3"
services:
  tc-informix:
    image: "pvmagacho/tc-database-scripts:latest"
    container_name: tc-informix
    ports:
      - "2021:2021"
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka:2.12-2.3.0
    container_name: local-kafka
    depends_on:
      - zookeeper
    restart: always  
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "common.error.reporting:1:1,\
      terms.notification.created:1:1,\
      terms.notification.updated:1:1,\
      terms.notification.deleted:1:1,\
      terms.notification.resource.created:1:1,\
      terms.notification.resource.updated:1:1,\
      terms.notification.resource.deleted:1:1,\
      terms.notification.user.agreed:1:1,\
      terms.legacy.processor.action.email.support:1:1,\
      terms.notification.docusign.envelop.created:1:1"
      KAFKA_ADVERTISED_HOST_NAME: ${IP}
  postgres-db:
    image: "postgres:9.5"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=termssdb      
